.available-devices {
	padding: 5.6vw
	background-color rgb(255, 255, 255);
	margin-bottom: 120px;
	h2 {
		text-align: center;
		margin-bottom: 40px;
	}
	&__list {
		display: grid;
		gap: 24px;
		grid-template-columns: 1fr 1fr 1fr 1fr;

		@media (max-width: 768px) {
			grid-template-columns: 1fr 1fr;
		}

		@media (max-width: 480px) {
			grid-template-columns: 1fr;
		}
		
		&__item {
			text-align: center;

			h4 {
				margin-top: 20px;
				margin-bottom: 24px;
			}

			li {
				list-style: none;
			}
			img {
				max-width: 100%;
			}
		}
	}
}