@use 'variaveis';

.footer {
	margin-top: 120px;
	&__container {
		max-width: 1024px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

	&__logo {
		width: 80px;
		margin: 0 auto 10px;
		display: block;
		
		img {
			width: 100%;
			display: block;
		}
	}

	&__links {
		margin-bottom: 16px;
		&__item {
			display: inline-block;

			@media (max-width: 768px) {
				display: block;
				margin-bottom: 8px;
			}

			a {
				display: block;
				text-decoration: none;
				padding: 8px 16px;

				@media (max-width: 768px) {
					padding: 6px 8px;
					font-size: 14px;
				}

				&:hover {
					color:  variaveis.$corTextoSecundario;
				}
			}
		}
	}

	p {
		margin-bottom: 16px;
	}
}

.language-selector {
	display: flex;
	align-items: center;

	img {
		height: 18px;
		width: 18px;
	}

	select {
		background-color: transparent;
		border: none;
		color: variaveis.$corTextoPrincipal;
		height: 38px;

		&:hover {
			color: variaveis.$corTextoSecundario;
		}

		option {
			color: variaveis.$corDeFundo;
		}
	}
}