@use 'variaveis';

.shows {
	padding: 2vw 5.6vw;
	min-height: 50vw;

   	&__list {
		margin-top: 45px;
		display: none;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 24px;

		@media (max-width: 768px) {
			grid-template-columns: 1fr 1fr;
			gap: 16px;
		}

		@media (max-width: 480px) {
			grid-template-columns: 1fr;
		}

		&--is-active {
			display: grid;
		}

		&__item {
			img {
				max-width: 100%;
				border-radius: 4px;
			}
		}
	}

	&__tabs {
		display: flex;
		justify-content: center;
		flexWrap: wrap;

		&__button {
			color: variaveis.$corTextoSecundario;
			font-size: 20px;
			border: none;
			padding-bottom: 5px;
			background: none;
			text-transform: uppercase;
			margin: 0 1vw;
			cursor: pointer;

			@media (max-width: 768px) {
				font-size: 16px;
				margin: 0 2vw 8px;
			}

			&--is-active {
				border-bottom: 4px solid variaveis.$corTextoSecundario;
			}
		}
	}
} 