.watch-anywhere {
	padding: 5.6vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;

	img {
		max-width: 100%;
	}

	div {
		padding: 0 2vw;

		.title--small {
			margin-bottom: 24px;
		}

		p {
			margin-bottom: 16px;
		}
	}
}