@use "hero";
@use "variaveis";
@use "shows";
@use "plans";
@use "watch-anywhere";
@use "available-devices";
@use "faq";
@use "footer";

@font-face {
  font-family: Avenir;
  src: url("../../assets/fonts/Avenir-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: Avenir;
  src: url("../../assets/fonts/Avenir-Bold.woff2");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
}

body {
  background-color: variaveis.$corDeFundo;
  font-family: Avenir, sans-serif;
}

@mixin text($fontSize: 16px) {
  color: variaveis.$corTextoPrincipal;
  font-size: $fontSize;
  line-height: $fontSize + 10px;
}

@mixin title($fontSize: 40px) {
  @include text($fontSize);
  color: variaveis.$corTextoSecundario;
}

.text--big {
  @include text(18px);
}

.text {
  @include text;
}

.text--small {
  @include text(12px);
}

.title--big {
  @include title(44px);
}

.title {
  @include title;
}

.title--small {
  @include title(28px);
}

.link--text {
  @include text(18px);
  color: variaveis.$corTextoSecundario;
  text-decoration: underline;
}

.button {
          display: block;
          width: 100%;
          height: 60px;
          font-size: 18px;
          color: variaveis.$corTextoSecundario;
          background-color: #6421ff;
          text-transform: uppercase;
          border-radius: 4px;
          margin-top: 2vw;
          margin-bottom: 8px;
}

.image-text-section {
	padding: 5.6vw;
	display: block;
  position: relative;
	grid-template-columns: 1fr 1fr;
	align-items: center;


	img {
		width: 100%;
	}

	div {
		padding: 0 2vw;
    position: absolute;
    top: 0vw;
    height: 100%;
    width: calc(50% - 5.6vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
		.title--small {
			margin-bottom: 24px;

		}

		p {
			margin-bottom: 16px;
		}
	}
}
