$corDeFundo: #040714;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corBotaoPrimario: #6421ff;
$corBotaoSecundario: #0063e5;
$corBotaoTerciario: rgba(0, 0, 0, 0.8);

// Breakpoints
$breakpointTablet: 768px;
$breakpointMobile: 480px;